<link rel="stylesheet" type="text/css" href="try.css"/>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>


<body>
  <!-- displays the users guess -->
  <h1>Your Guess: <%= @guess %><h1>
  </br>
  <!-- displays the result -->
  <%= @result %>
</body>

<br></br>
<br></br>


<footer>
  <div id="chow">
    <img src="http://static.tumblr.com/q8dfwso/cTOm7x5ih/puppies.gif"/>
  </div>
</footer>
